{% extends "base.html" %}
{% load static %}
{% block title %}Blog SoraYoga: Kiến Thức Yoga & Sức Khỏe{% endblock %}
{% block content %}
    <div id="root"></div>
{% endblock %}
{% block extra_head %}
<script>
    window.siteConfig = {
        logoUrl: "{% static 'images/logo.png' %}",
        homeUrl: "{% url 'home' %}",
        currentUser: "{{ request.user.username|default:'' }}" // THÊM DÒNG NÀY
    };
</script>
{% endblock %}
{% block scripts %}
    <script type="text/babel" src="{% static 'components/Header.js' %}"></script>
    <script type="text/babel" src="{% static 'components/BlogContent.js' %}"></script>
    <script>
        // Nhận dữ liệu từ Django và gán vào biến global cho React dùng
        window.blogPosts = {{ posts_json|safe }};
        
        window.siteConfig = {
            logoUrl: "{% static 'images/logo.png' %}",
            homeUrl: "{% url 'home' %}",
            currentUser: "{{ request.user.username|default:'' }}"
        };
    </script>    
<script type="text/babel" src="{% static 'components/Footer.js' %}"></script>
    <script type="text/babel" src="{% static 'js/blog-app.js' %}"></script>
{% endblock %}