{% extends "base.html" %}
{% load static %}
{% block title %}Chi tiết Lớp Học | SoraYoga Hóc Môn{% endblock %}
{% block extra_head %}
    <meta name="description" content="Chi tiết Lớp Yoga tại SoraYoga Hóc Môn. Xem thông tin chi phí, lịch học và đăng ký ngay lớp tập thử miễn phí cho người mới bắt đầu!">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <script>
        window.siteConfig = {
            logoUrl: "{% static 'images/logo.png' %}",
            homeUrl: "{% url 'home' %}",
            currentUser: "{{ request.user.username|default:'' }}"
        };
    </script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        // Dữ liệu lấy từ giao diện Admin của bạn sẽ đổ vào đây
        window.classDataFromDB = {
            id: "{{ class_obj.id }}",
            name: "{{ class_obj.name|escapejs }}",
            // Dùng |safe vì bạn dùng bộ soạn thảo (giống CKEditor) trong Admin của bạn
            description: `{{ class_obj.description|safe }}`, 
            price: "{{ class_obj.price }}",
            duration: "{{ class_obj.duration_minutes }}",
            branch: "{{ class_obj.branch.name|escapejs }}",
            image: "{% if class_obj.image %}{{ class_obj.image.url }}{% endif %}"
        };
    </script>
{% endblock %}
{% block content %}
<div id="header-root"></div>
<div id="class-detail-root"></div>
<div id="footer-root"></div>
{% endblock %}
{% block scripts %}
    <script type="text/babel" src="{% static 'components/classData.js' %}"></script>
    <script type="text/babel" src="{% static 'components/scheduleData.js' %}"></script>
    <script type="text/babel" src="{% static 'components/Header.js' %}"></script>
    <script type="text/babel" src="{% static 'components/Footer.js' %}"></script>
    <script type="text/babel" src="{% static 'components/ClassDetailContent.js' %}"></script>
    <script type="text/babel" src="{% static 'js/class-detail-app.js' %}"></script>
{% endblock %}