{% extends "base.html" %}
{% load static %}
{% block title %}SoraYoga Hóc Môn: Hành Trình Cân Bằng Thân - Tâm - Trí{% endblock %}
{% block extra_head %}
    <script>
        if (window.siteConfig) {
            window.siteConfig.logoUrl = "{% static 'images/logo.png' %}";
            window.siteConfig.homeUrl = "{% url 'home' %}";
            window.siteConfig.currentUser = "{{ request.user.username|default:'' }}";
        }
        window.teacherData = {{ teachers_json|safe }};
    </script>
{% endblock %}
{% block content %}
    <div id="root"></div>
{% endblock %}
{% block scripts %}
    <script type="text/babel" src="{% static 'components/Header.js' %}"></script>
    <script type="text/babel" src="{% static 'components/Hero.js' %}"></script>
    <script type="text/babel" src="{% static 'components/AboutContent.js' %}"></script>
    <script type="text/babel" src="{% static 'components/Features.js' %}"></script>
    <script type="text/babel" src="{% static 'components/Teachers.js' %}"></script>
    <script type="text/babel" src="{% static 'components/Footer.js' %}"></script>
    <script type="text/babel" src="{% static 'components/FeaturedBranches.js' %}"></script>
    <script type="text/babel" src="{% static 'js/app.js' %}"></script>
{% endblock %}